@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

header {
  margin: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 7rem;
  height: 7rem;
  font-size: 50px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  transition: background-color 0.15s;
}

.btn:hover {
  background-color: lightgray;
}

#affichage {
  width: 26.5rem;
  height: 7rem;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#affichage > span {
  font-size: xx-large;
  margin: 5px;
}
